body {
  height: 100%;
  width: 100%;
  background: #000;
}

.movie {
  margin: 20px;
  height: auto;
  max-width: 225px;
  height: 450px;
}

.movie:hover {
  cursor: pointer;
}

.movie .title {
  padding: 9px;
  margin: 0;
  width: 230px;
  font-weight: bolder;
  border-bottom: 1px solid darkslategray;
}

.movie p {
  color: darkslategray;
  background-color: ivory;
}

.movie .row {
  margin: 0;
}

.movie .row.btm-row {
  width: 230px;
}

.movie p.btm-title {
  padding: 9px;
}

.movie p.btm-title.divider {
  border-right: 1px solid darkslategray;
}

.movie .info {
  background-color: #FFFFFF;
}

.search {
  border-color: grey;
  background-color: black;
  border-radius: 4px;
  border-style: double;
  height: 40px;
  width: 275px;
  font-size: 14px;
  padding: 15px 0 15px 15px;
  color: grey;
  background: url(../image/search-icon.png) 99% no-repeat;
  background-size: 20px 20px;
  background-position: right 10px top 8px;
  margin: 30px 0 0 50px;
}

.search-nav {
  position: relative;
  bottom: 0;
  margin: 40px 40px 40px 50px;
}

.search-nav button {
  font-size: 30px;
  padding: 5px;
  width: 100px;
  font-weight: bold;
  border-radius: 4px;
  border-style: none;
  background-color: ivory;
  color: #585858;
}

.search-nav button.right {
  float: right;
}

video {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  display: block;
  top: 200px;
}

.btn-back {
  color: #9d9d9d;
  font-size: 40px;
  text-decoration: none;
  top: 0;
  margin: 30px 30px 0 0;
  float:right;
}

.movie-list {
  top: 0;
  margin: 30px;
  height: auto;
  overflow: hidden;
}

.movie-list .movie {
  float: left;
}

.show-details {
  position: relative;
}

.show-details .show-details-title {
  padding: 5px 0 0 50px;
}

.show-details .show-details-title h1 {
  color: white;
  font-size: 60px;
}

.show-details .show-details-synopsis {
  font-family: monospace;
  color: white;
}

ul.show-details-show-list {
  height: 200px;
  max-width: 1170px;
}

ul.show-details-show-list li {
  list-style-type: none;
  color: white;
  font-family: monospace;
  cursor: pointer;
  float: left;
  margin: 20px;
  width: 100px;
  height: 50px;
}

.circles {
  position: absolute;
  width: 60px;
  height: 60px;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.circles div {
  border-radius: 100%;
  border: 5px solid aqua;
  box-shadow: 0px 0px 20px aquamarine, inset 0px 0px 20px aquamarine;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.circles div:nth-child(1) {
  transform: rotateY(0deg);
  animation: spinY 2s infinite linear;
}

.circles div:nth-child(2) {
  transform: rotateX(0deg);
  animation: spinX 2s infinite linear;
}

.circles div:nth-child(3) {
  border: 5px dashed aqua;
  transform: rotateZ(0deg);
  animation: spinZ 1s infinite ease-in-out;
}

.wave div {
  color: orange;
}

@keyframes spinY {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spinX {
  to {
    transform: rotateX(360deg);
  }
}

@keyframes spinZ {
  to {
    transform: rotateZ(180deg);
  }
}
